.pageContainer {
    padding: 10px;
    height: 40rem;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 1000px;
    overflow: auto;
    margin: 10px 0;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .pageContainer {
        padding: 0.5rem;
        height: auto;
        min-height: calc(100vh - 60px); /* altura total menos el header */
    }

    .content {
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        height: auto;
        min-height: calc(100vh - 120px);
    }

    .title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        padding: 0 0.5rem;
    }
}