.footer {
  padding: 0.01rem;
  position: fixed;
  background-color: #195ab5;
  bottom: 0;
  border-top: 1px solid #dee2e6;
  left: 0;
  text-align: center;
  right: 0;
  font-size: 0.875rem;
  width: 100%;
  color: white;
  margin-top: auto;
}
.footerContent {
  display: flex;
  align-items: center;
  max-width: 1000px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  font-size: 0.875rem;
  color: white;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.copyright {
  margin: 0;
}

.link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: #0056b3;
  text-decoration: underline;
}
